{% extends "dapricot/base.html" %}

{% block header %}
<h1>Getting Started</h1>
<p>This is a basic HTML template to help you get started with <a href="http://base.gs"><strong>Base</strong></a>. Apart from the grid system, Base includes a sensible reset to start styling your site on.</p>
<hr>
{% endblock %}

{% block main %}
<article>
	<div class="grid-reference">
		<h2>Quick Reference</h2>
		<p>These quick guides will help you get started. For more detailed instructions check out the documentation.</p>

		<h3>Grid <em>(_layout.scss)</em></h3>
		<table>
			<tr>
				<th>Mixin</th>
				<th>Usage</th>
			</tr>
			<tr>
				<td>
					<code>@include container()</code>
				</td>
				<td>
					<em>Apply to an element wrapping the column structure</em>
				</td>
			</tr>
			<tr>
				<td>
					<code>@include columns($columns, $offset, $gutter)</code>
				</td>
				<td>
					<code>@include columns(8, 0, 0)</code>
				</td>
			</tr>
			<tr>
				<td>
					<code>@include responsive-columns($breakpoint, $columns, $offset, $gutter);</code>
				</td>
				<td>
					<em>Apply to overwrite default breakpoint columns</em>
				</td>
			</tr>
		</table>
	</div>
</article>
<article>
	<h3>Grid Settings<em>(_variables.scss)</em></h3>
	<p>Grid breakpoints and settings are set in <code>_variables.scss</code></p>
</article>
<article class="grid-examples">
	<h3>Grid Examples<em>(_layout.scss)</em></h3>
		
	<div class="container">

		<code>@include container()</code>
		<div class="box -b1">
			<code>@include columns(3);</code>
		</div>
		<div class="box -b2">
			<code>@include columns(4);</code>
		</div>
		<div class="box -b3">
			<code>@include columns(5);</code>
		</div>
		<div class="box -b4">
			<code>@include columns(5, 2);</code>
		</div>
		<div class="box -b5">
			<code>@include columns(5);</code>
		</div>

		<div class="box -b6">
			<code>@include columns(9);</code>
			<div class="box -b6-1">
				<code>@include columns(6);</code>
			</div>
			<div class="box -b6-2">
				<code>@include columns(6);</code>
			</div>
		</div>
		<div class="box -b7">
			<code>@include columns(3);</code>
		</div>

		<div class="box -b8">
			<code>
				@include columns(9, 0, 10%);
			</code>
		</div>
		<div class="box -b9">
			<code>
				<code>@include columns(3);</code>
			</code>
		</div>

		<div class="box -b10 -tall">
			<code>@include columns(6);</code>
			<code>@include responsive-columns('mobile', 0.5);</code>
		</div>
		<div class="box -b11 -tall">
			<code>
				<code>@include columns(6);</code>
				<code>@include responsive-columns('mobile', 0.5);</code>
			</code>
		</div>

		<div class="box -b12 -tall">
			<code>@include columns(5, 0, 0);</code>
			<code>@include responsive-columns('mobile', 0.4, 0, 0);</code>
		</div>
		<div class="box -b13 -tall">
			<code>@include columns(7, 0, 0);</code>
			<code>@include responsive-columns('mobile', 0.6, 0, 0);</code>
		</div>
	</div>

</article>
{% endblock %}	

{% block footer %}
<hr>
<p>Base is maintained by the team at <a href="https://twitter.com/agencysc">@agencysc</a> and distributed under the <a href="https://github.com/agency/base/blob/master/LICENSE">Apache 2.0 license</a>.</p>
{% endblock %}
