@import 'dapricot/scss/variables.scss';
@import 'dapricot/scss/mixins/grid.scss';
@import 'dapricot/scss/mixins/helpers.scss';

$socialSpotify: #1DB954;

button.spotify,
.button-spotify,
input.button-spotify {
	@include button-style($socialSpotify, white);

	&.disabled {
		background-color: #aebcc7;
		color: white;
		cursor: default;
	}
}

.card-spotify {
	width: 400px;
	height: 150px;
	@include card-style($socialSpotify, $textColor);
	&.list {
		height: auto;
	}
	
	img.cover {
		border: $socialSpotify solid 5px;
		max-height: inherit;
		height: inherit;
		position: absolute;
		left: 0px;
		top: 0px;
		
	}
	div.info {
		position: absolute;
		top: 0px;
		left: 165px;
		right: 10px;
	}
	button.spotify,
	.button-spotify,
	input.button-spotify {
		position: absolute;
		right: 0px;
		bottom: 0px;
		margin: 0px;
	}
	.spotify-top-item {
		@include button-style($baseColor, $textColor);
		display: block;
		height: 60px;
		overflow: hidden;
		margin-bottom: 3px;
		p {
			line-height: 1.1em;
			margin: 0px;
			display: inline-block;
			padding: 5px 10px;
			&.full {
				line-height: 60px;
			padding: 0px 10px;
			}
			&.name {
				font-weight: bold;
			}
		}
		img {
			width: 60px;
		}
	}
}