{% extends 'dapricot/base.html' %}
{% load daaccounts_tags %}

{% block header %}
{% user_menu %}
{% endblock %}

{% block main %}
<article class="grid-main">
	<div class="container">
		<div class="box card-primary half-center autoheight">
			<h3>Security</h3>
		</div>
		<div class="box card half-center autoheight">
			<p>
				<a href="{% url 'daaccounts:password_change' %}" class="icon-key">Change password</a>
			</p>
		</div>
		<div class="box card-primary half-center autoheight">
			<h3>Integrations</h3>
		</div>
		<div class="box card half-center autoheight">
			<div class="box half autoheight">
				{% if "dapricot.music" in installed_apps %}
				{% load damusic %}
				{% spotify_badge %}
				{% endif %}
			</div>
			<div class="box half autoheight">
				{% if "dafitness" in installed_apps %}
				{% load dafitness %}
				{% strava_badge %}
				{% endif %}
			</div>
		</div>
	</div>
</article>

{% endblock %}