{% extends 'dapricot/base.html' %}

{% block header %}
{% endblock %}

{% block main %}
<article class="grid-main">
	<div class="container">
		<div class="box card-primary half-center autoheight">
			<h2 class="icon-login">Login</h2>
		</div>
		<form method="post">
			<div class="box card half-center autoheight">
				{% csrf_token %}
				{% for field in form %}
				<div class="box half autoheight">
			    {{ field.label_tag }} {{ field }}
			    {% if field.help_text %}
			    <small style="color: grey">{{ field.help_text }}</small>
			    {% endif %}
			    {% for error in field.errors %}
			    <p class="error">{{ error }}</p>
			    {% endfor %}
			    </p>
				</div>
				{% endfor %}
				</div>
		  	</div>
			<div class="box card half-center autoheight">
			  	<a href="{% url 'daaccounts:password_reset' %}" class="button">Forgot password?</a>
			  	<button type="submit" class="button-primary">Login</button>
		  	</div>
		</form>
	</div>
</article>
{% endblock %}