{% extends 'dapricot/base.html' %}
{% load i18n static %}

{% block main %}

<article class="grid-main">
	<div class="container">
		<div class="box card-primary half-center autoheight">
			<h2>Password reset confirmation</h2>
			{% if validlink %}
			
			<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
		</div>
			<form method="post">
			<div class="box card half-center autoheight">
				{% csrf_token %}
				<div class="box half autoheight">
			        {{ form.new_password1.errors }}
			        <label for="id_new_password1">{% translate 'New password:' %}</label>
			        {{ form.new_password1 }}
			    </div>
				<div class="box half autoheight">
			        {{ form.new_password2.errors }}
			        <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
			        {{ form.new_password2 }}
			    </div>
			</div>
			
			    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
			<div class="box card half-center autoheight">
		    	<input type="submit" class="button-primary" value="{% translate 'Change my password' %}">
		    </div>
			</form>
			{% else %}
			<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
			</div>
			{% endif %}
{% endblock %}
