{% extends 'dapricot/base.html' %}

{% block main %}
<article class="grid-main">
	<div class="container">
		<div class="box card-primary half-center autoheight">
			<h2 class="icon-user-add">Register</h2>
		</div>
		<form method="post">
			<div class="box card half-center autoheight">
				{% csrf_token %}
				{% for field in form %}
				<div class="box half autoheight">
			    {{ field.label_tag }} {{ field }}
			    </div>
			    <div class="box half autoheight">
			    {% if field.help_text %}
			    <p><br/></p>
			    <small style="color: grey">{{ field.help_text }}</small>
			    {% endif %}
			    </div>
			    <div class="box full autoheight">
			    {% for error in field.errors %}
			    <p class="error">{{ error }}</p>
			    {% endfor %}
			    </p>
			    </div>
				{% endfor %}
		  	</div>
			<div class="box card half-center autoheight">
				<a href="{% url 'daaccounts:login' %}"  class="button">Already have an account?</a>
				<button type="submit" class="button-primary">Register</button>
		  	</div>
		</form>
	</div>
</article>
{% endblock %}